{
    email {$ACME_EMAIL}
}

{$DOMAIN} {
    request_body {
        max_size 12MB
    }
    reverse_proxy gochs:8080 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-For {remote_host}
    }
}
